.DS_Store
.idea
*.log
tmp/

# TeX intermediate files
.auctex-auto/
*.aux
*.bit
*.blg
*.bbl
*.bcf
*.lof
*.log
*.lot
*.fdb_latexmk
*.fls
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.nav
*.out
*.pdfsync
*.run.xml
*.url
*.snm
*.svn
*.synctex.gz
*.toc
